@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* It looks like this is what centers the whole webpage? */
/* Per stack overflow: Makes the div as big as the parent?*/
html, body
{
height: 100%;
}


body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
    /* I'll give you this one for free lol */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    color: white;
  }

/*
.master
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    flex-grow: 1;
    padding: 150px;
}
*/

.calculator
{
    height: 400px;
    width: 300px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    flex-direction: column;
}

.row1
{
    display: flex;
    background-color: lightblue;
    width: 300px;
    height: 50px;
}

.row2
{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.row3
{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.row4
{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.row5
{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.row6
{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}


.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 75px;
   background-color: orange;
   font-size: 25px;
   border: 1px solid darkslateblue;
}


.zero
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    background-color: orange;
    font-size: 25px;
    border: 1px solid darkslateblue;
}


.clear
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    background-color: brown;
    font-size: 25px;
    border: 1px solid darkslateblue;
}


.minus,
.equals
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 75px;
    background-color: limegreen;
    font-size: 25px;
    border: 1px solid darkslateblue;
}

.divide,
.multiply,
.plus
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 75px;
   background-color: limegreen;
   font-size: 25px;
   border: 1px solid darkslateblue;
}